
.idea
/env
/venv

website/static/bower_components
!website/static/bower_components/wdt-emoji-bundle/wdt-emoji-bundle.js

node_modules
/website/static/js/build
/website/static/vendor/
/website/static/js/app/templates.js
/website/public/*
/website/media/*
/website/staticfiles/
/config/settings/local.py

*.pyc
*.sqlite3
*.log
*.ppk

fabfile.py
celerybeat-schedule
