<div class="sign-in-panel">
    <div class="text-center">
        <h2>Password Reset</h2>

        <h3>To reset your password, enter the email address you use to sign in.</h3>
    </div>
    <div class="alert alert-danger hide" ng-class="{show: auth.errors.non_field_errors}" role="alert">
        <span ng-repeat="text in auth.errors.non_field_errors" ng-bind="text"></span>
    </div>
    <div class="panel panel-default">
        <form class="panel-body" ng-class="{'has-error': auth.errors.email}" ng-submit="submit()" novalidate>
            <div class="row">
                <div class="col-sm-7">
                    <input type="text" class="form-control input-lg" placeholder="you@domain.com"
                           ng-model="model.email">

                    <div class="error-block" form-errors="model.errors.email"></div>
                </div>
                <div class="col-sm-5 p-b-md">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Get reset link</button>
                </div>
            </div>
            <a ui-sref="home.sign-in">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                Back to login
            </a>
        </form>
    </div>
</div>
