<div class="home-wrapper">
    <nav class="top clearfix">
        <a ui-sref="home.sign-in" class="logo" aria-label="DoIQApp homepage"></a>
        <ul>
            <li>
                <a ui-sref="home.sign-up" class="btn btn-link btn-sign-up">Sign Up</a>
            </li>
        </ul>
    </nav>
    <div class="content-wrapper">
        <div ui-view class="view-animation"></div>
    </div>
    <footer>
        &copy; {[ year ]} All rights reserved. "DOIQ" is the trademark of DOIQ, LLC.
    </footer>
</div>