.dashboard .sidebar-wrapper .sidebar-nav > li.chat-menu li a:hover {
  background: inherit;
}

.members-list {
  padding: 0 25px;
}

.members-list__item {
  margin-bottom: 10px;
}

.b-member-list-item__checkbox {
  width: 52px;
}

.b-member-list-item__profile-image {
  width: 70px;
}

.channel-archived {
  a {
    cursor: default;
  }
  span {
    color: #6e7179;
    cursor: default;
  }
}

.channel-page {
  height: 100%;

  .page-title {

    .channel-title {

      & > span {
        display: inline-block;
        line-height: 20px;
      }

      text-align: left;

      text {
        color: #313541;
        text-transform: lowercase;
      }

      small {
        font-size: 12px;
        display: block;
        color: #a6b1cc;
        line-height: 12px;
        margin-top: -10px
      }
    }

    button.btn-icon {
      margin-right: 15px;
    }

    @media (max-width: 1280px) {
      button.btn-icon {
        margin-right: 0;
      }
    }
  }

  .btn-icon {
    border: none;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
  }

  .channel-messages .media {
    padding: 0;
    margin-top: 30px;
    overflow: visible;
    .media-left {
      padding-right: 15px;
    }
    .media-body {
      overflow: visible;
      h4.media-heading {
        padding-top: 5px;
        margin-bottom: 7px;
        a {
          color: #ccd2e2;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 15px;
        }
        i {
          margin: 0 5px;
        }
        i:before {
          display: inline-block;
          content: '\0025CF';
          font-size: 10px;
          vertical-align: middle;
          color: #e0e7eb;
        }
        span {
          color: #c0c2c9;
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 13px;
        }
      }
      p, span {
        white-space: pre-wrap;
        color: #6a6f7d;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 13px;
      }
    }
    .media-object {
      width: 52px;
      height: 52px;
      border: 1px solid #ccd2e2;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;

    }
    .notification-message {
      .media-body {
        .message-content {
          padding: 0 20px;
          border: none;
          border-top: 1px solid #ccd2e2;
          border-bottom: 1px solid #ccd2e2;
          .message-content-left {
            padding: 15px 0;
          }
          .message-content-right {
            padding: 26px 20px;
            border-left: 1px solid #ccd2e2;
          }
          .dropdown {
            float: right;
          }
          i.icon {
            margin-right: 10px;
          }
        }
      }
    }
    .file-message {
      .media-body {
        .message-content {
          padding: 0 20px;
          border: none;
          border-top: 1px solid #ccd2e2;
          border-bottom: 1px solid #ccd2e2;
          .message-content-left {
            padding: 15px 0;
            border-right: 1px solid #ccd2e2;
          }
          .message-content-right {
            padding: 35px 20px;
            text-align: right;
            min-height: 92px;
          }
          .message-content-file_type {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            color: #FFF;
            width: 40px;
            height: 40px;
            background-color: #d65f1a;
            display: inline-block;
            line-height: 40px;
            text-align: center;
          }
        }
      }
    }
    .slider-wrapper {
      .files-slider {
        height: auto;
        list-style: none;
        float: left;
        padding: 0;
        margin: 0;
        li {
          position: relative;
          float: left;
          margin-right: 20px;
          max-width: 300px;
          .file-is-deleted {
            text-decoration: line-through;
          }
        }
      }
    }
  }

  .chat-scroll-wrapper {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
  }

  .chat-scroll-wrapper {
    background-color: #fff;
    max-height: 85%;
    min-height: 85%;
  }

  .wdt-emoji-popup {
    z-index: -1;
    .wdt-emoji-tab {
      width: 27px;
      margin-right: 6.5px;
      transition: border 0.5s linear;
      -webkit-transition: border-color 0.2s linear;
      -moz-transition: border-color 0.2s linear;
      -o-transition: border-color 0.2s linear;
    }
    h3 {
      color: #7e89a5;
    }
    h3.sticky {
      width: auto;
    }
    #wdt-emoji-search, #wdt-emoji-search:focus {
      margin: 1.5rem 9px .6rem;
      width: 93.5%;
    }
    width: 305px;
    visibility: inherit;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 7px 8px 50px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 7px 8px 50px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 7px 8px 50px 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 7px 8px 50px 0 rgba(0, 0, 0, 0.3);
  }
  .wdt-emoji-popup.ready.open {
    display: inherit;
    opacity: 1;
    z-index: 9999;
  }

  .input-area {
    position: fixed;
    padding: 0 30px 0 0;
    .wdt-emoji-picker {
      display: none;
    }
    .media {
      .media-left {
        padding-right: 15px;
      }
      .media-object {
        width: 52px;
        height: 52px;
        border: 1px solid #ccd2e2;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
      }
      .media-body {
        textarea {
          padding: 16px;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          font-weight: normal;
          font-size: 13px;
          resize: none;
        }
        > div {
          background: #fcfdff;
          border: 1px solid #ced5e6;
          border-top: none;
          padding: 10px;
          button {
            margin-right: 20px;
          }
        }
      }
    }
  }
}