.invite-page {

  .inv-form {
    max-width: 770px;
  }

  .invite-avatar {
    height: 52px;
    width: 52px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 10px;
  }

  .table {
    margin-top: 32px;

    th {
      padding: 16px 8px;
      &:first-child {
        width: 43px;
        padding: 0;
      }
    }

    td {
      padding: 16px 8px;

      .dropdown {
        display: inline-block;
      }
    }
  }
}
